.site-navigation ul.menu-list > li.menu-item-has-children > a:after {
  content: "" !important;
}
.header-bottom-area.four .menu-list > li > a {
  padding: 21px 16px !important;
}
.flickity-button {
  background: linear-gradient(to right, #21b75f 0%, #31386e 100%) !important;
  width: 50px !important;
  height: 59px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue !important;
  transition: 500ms;
}
.flickity-button:hover {
  background: linear-gradient(to right, #15753d 0%, #171a33 100%) !important;
  transition: 200ms;
}
.fw-main-row {
  position: relative;
}
.titleForRent {
  position: absolute !important;
  top: -9rem;
  left: 0;
  font-size: 35px !important;
}
.fw-container {
  padding: 100px 0 !important;
}
.cardForSellRent {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
}
.fw-container-two {
  padding-top: 20px !important  ;
}
.widget_rental_search .advance_search_query.booking-form .form-group input {
  outline: none !important;
}
.optional {
  color: red;
  font-weight: bold;
  font-size: 10px;
}
.buttonHover {
  transition-duration: 200ms;
}

.buttonHover:hover {
  transition-duration: 200ms;
  background: linear-gradient(to right, #15753d 0%, #171a33 100%) !important;
}

.image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  background-position: center;
  border-radius: 5px;
}
.postRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #00000014;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.details h5 {
  margin-bottom: 0;
  font-weight: bold;
}
.details span {
  font-size: 10px;
}
.details div {
  font-size: 10px;
}
.locAndPrice {
  display: flex;
  justify-content: space-between;
}
.propertyPrice {
  font-weight: bold;
  font-size: 12px !important;
}
.relatedPost {
  overflow-y: scroll;
  height: 500px;
  border: 1px solid #bbb;
  padding: 5;
  border-radius: 5px;
}
#categories-3 {
  margin-bottom: 0 !important;
}
.featuredSlider {
  background: #21b75f !important;
  background: -moz-linear-gradient(bottom, #21b75f 0%, #31386e 100%) !important;
  background: -webkit-linear-gradient(
    bottom,
    #21b75f 0%,
    #31386e 100%
  ) !important;
  background: linear-gradient(to bottom, #21b75f 0%, #31386e 100%) !important;
  border-radius: 10px !important;
}
.flickity-enabled.is-draggable .flickity-viewport {
  background: #e7e7e7;
  margin: 15px;
  padding: 15px;
  border-radius: 10px !important;
}
.apartments-content .image-content {
  height: 200px !important;
}
.text-content {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.apartments-content .text-content .top-content {
  border: 1px solid #e4e4e4;
  padding: 0px 20px 20px;
  margin-top: 0 !important;
}
.horizontal-ad-section-main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.add-section {
  padding: 30px 0 !important ;
}
.horizontal-ad-section {
  width: auto;
  object-fit: cover;
  background-position: center;
  border-radius: 10px;
  background: #21b75f !important;
  background: -moz-linear-gradient(bottom, #21b75f 0%, #31386e 100%) !important;
  background: -webkit-linear-gradient(
    bottom,
    #21b75f 0%,
    #31386e 100%
  ) !important;
  background: linear-gradient(to bottom, #21b75f 0%, #31386e 100%) !important;
  padding: 10px;
}
.horizontal-ad,
.horizontal-ad-for-post-page,
.vertical-ad {
  width: 970px;
  height: 90px;
  object-fit: cover;
  background-position: center;
  border-radius: 10px;
  margin: auto;
  display: flex;
}
.horizontal-ad-for-post-page {
  width: 720px !important;
}
.vertical-ad {
  width: 300px !important;
  height: 600px !important;
}
